<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Template Fluido</title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<header>
		<nav class="nav navbar-purple-navy">
			<ul class="nav-links">
				<li>Home</li>
				<li>Link</li>
				<li>One more link</li>
			</ul>
			<div class="col-50">
			<div class="dropdown">
				<ul>
				<p><span class="dropdown-text">Dropdown</span></p>
				<li>Link Again</li>
				<li>Just One Link Here</li>
				<li>Last Link</li>
			</ul>
			</div>
			</div>
		</nav>
	</header>
</body>
</html>